*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
    font-family: 'Red Hat Display', sans-serif;
}
:root{
    --Primary-pale-blue: hsl(225, 100%, 94%);
    --Primary-bright-blue: hsl(245, 75%, 52%);
    --neutral--very-pale-blue: hsl(225, 100%, 98%);
    --neutral-desaturated-blue: hsl(224, 23%, 55%);
    --neutral-dark-blue: hsl(223, 47%, 23%);
    --font-small: 1.2rem;
    --font-medium: 1.4rem;
    --font-large: 1.6rem;
    --font-bigger: 1.8rem;
}
body{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
main{
    background-image: url("/asset/images/pattern-background-desktop.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: var(--Primary-pale-blue);
    height: 100vh;
    display: grid;
    place-content: center;
}
.card{
    width: 350px;
    height: auto;
    display: grid;
    place-content: center;
    border-radius: 12px;
    place-items: center;
    background-color: var(--neutral--very-pale-blue);
}
.card__img{
    width: 100%;
    height: auto;
    border-radius: 12px;
}
.card__img-container{
    width: 100%;
    height: 100%;
    border-radius: 12px 12px 0  0;
}
.card__title-container{
    margin: 20px 0 15px 0;
    font-size: 2rem;
    font-weight: 900;
}
.card__description-container{
    width: 80%;
    font-size: var(--font-large);
    color: var(--neutral-desaturated-blue);
    text-align: center;
}
.card__plan-container{
    display: flex;
    width: 80%;
    height: 70px;
    background-color: #f8f9fe;
    justify-content: space-between;
    margin: 20px 0;
    border-radius: 8px;
    align-items: center;
}
.card__plan-description{
    display: flex;
    margin-left: 10px;
    justify-items: center;
}
.card__plan-icon{
    background-image: url("/asset/images/icon-music.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 40px;
    height: 40px;
    margin-right: 20px;
}
.plan__description-title{
    font-size: var(--font-medium);
    font-weight: 900;
}
.plan__description-price{
    font-size: var(--font-medium);
    color: var(--neutral-desaturated-blue);
    margin-top: 5px;
}
.card__plan-change{
    font-size: var(--font-medium);
    margin-right: 10px;
    cursor: pointer;
    color: var(--Primary-bright-blue);
}
.card__plan-change:hover{
    color: #766cf1;
}
.card__button-buy{
    width: 80%;
    height: 40px;
    border: none;
    border-radius: 8px;
    color: var(--neutral--very-pale-blue);
    background-color: var(--Primary-bright-blue);
    font-size: var(--font-medium);
    margin-bottom: 30px;
    box-shadow: 0 5px 20px 2px var(--neutral-desaturated-blue);
    cursor: pointer;
}
.card__button-buy:hover{
    background-color: #766cf1;
}
.card__button-cancel{
    margin-bottom: 30px;
}
.card__button-cancel a{
    font-size: var(--font-medium);
    color: var(--neutral-desaturated-blue);
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
}
.card__button-cancel:hover > a{
    color: black;
}
